<%- include("partials/head.ejs") %>
  <%- include("partials/header.ejs") %>

    <div class="page-container">
      <div class="pokemon-infos">
        <div class="top">
          <div class="top-left">
            <div class="pokemons-infos__image border corners">
              <img src="/images/pokemons/thumbnails/<%= pokemonData.id %>.png"
                alt="<%= pokemonData.name.english %> image">

              <div class="top-left-corner corner pixel outerpx"></div>
              <div class="top-right-corner corner pixel outerpx"></div>
              <div class="bottom-left-corner corner pixel outerpx"></div>
              <div class="bottom-right-corner-hd corner">
                <div class="pixel innerpx"></div>
                <div class="pixel innerpx"></div>
                <div class="pixel innerpx"></div>
                <div class="pixel innerpx"></div>
                <div class="pixel borderpx"></div>

                <div class="pixel innerpx"></div>
                <div class="pixel innerpx"></div>
                <div class="pixel innerpx"></div>
                <div class="pixel borderpx"></div>
                <div class="pixel outerpx"></div>

                <div class="pixel innerpx"></div>
                <div class="pixel innerpx"></div>
                <div class="pixel borderpx"></div>
                <div class="pixel outerpx"></div>
                <div class="pixel outerpx"></div>

                <div class="pixel innerpx"></div>
                <div class="pixel borderpx"></div>
                <div class="pixel outerpx"></div>
                <div class="pixel outerpx"></div>
                <div class="pixel outerpx"></div>

                <div class="pixel borderpx"></div>
                <div class="pixel outerpx"></div>
                <div class="pixel outerpx"></div>
                <div class="pixel outerpx"></div>
                <div class="pixel outerpx"></div>
              </div>
            </div>
          </div>
          <div class="bottom-right">
            <h1>#<%= pokemonData.id %>
                <%= pokemonData.name.english %>
            </h1>
            <div class="pokemons-infos__container border corners">
              <h2>/type(s) :</h2>
              <div class="pokemons-infos__types">
                <% for( let type of pokemonData.type) { %>
                  <div class="type border"><%= type %></div>
                  <% } %>
              </div>

              <div class="top-left-corner corner pixel outerpx"></div>
              <div class="top-right-corner corner pixel outerpx"></div>
              <div class="bottom-left-corner corner pixel outerpx"></div>
              <div class="bottom-right-corner-hd corner">
                <div class="pixel innerpx"></div>
                <div class="pixel innerpx"></div>
                <div class="pixel innerpx"></div>
                <div class="pixel innerpx"></div>
                <div class="pixel borderpx"></div>

                <div class="pixel innerpx"></div>
                <div class="pixel innerpx"></div>
                <div class="pixel innerpx"></div>
                <div class="pixel borderpx"></div>
                <div class="pixel outerpx"></div>

                <div class="pixel innerpx"></div>
                <div class="pixel innerpx"></div>
                <div class="pixel borderpx"></div>
                <div class="pixel outerpx"></div>
                <div class="pixel outerpx"></div>

                <div class="pixel innerpx"></div>
                <div class="pixel borderpx"></div>
                <div class="pixel outerpx"></div>
                <div class="pixel outerpx"></div>
                <div class="pixel outerpx"></div>

                <div class="pixel borderpx"></div>
                <div class="pixel outerpx"></div>
                <div class="pixel outerpx"></div>
                <div class="pixel outerpx"></div>
                <div class="pixel outerpx"></div>
              </div>
            </div>
            <div class="pokemons-infos__container border corners">
              <h2>/Base :</h2>
              <div class="pokemons-infos__base">
                <div class="left">
                  <h3 class="hp">HP</h3>
                  <h3>Attack</h3>
                  <h3>Defense</h3>
                  <h3>Sp. Attack</h3>
                  <h3>Sp. Defense</h3>
                  <h3>Speed</h3>
                </div>
                <div class="right">
                  <p class="hp">
                    <%= pokemonData.base.HP %>
                  </p>
                  <p>
                    <%= pokemonData.base.Attack %>
                  </p>
                  <p>
                    <%= pokemonData.base.Defense %>
                  </p>
                  <p>
                    <%= pokemonData.base["Sp. Attack"] %>
                  </p>
                  <p>
                    <%= pokemonData.base["Sp. Defense"] %>
                  </p>
                  <p>
                    <%= pokemonData.base.Speed %>
                  </p>
                </div>
              </div>

              <div class="top-left-corner corner pixel outerpx"></div>
              <div class="top-right-corner corner pixel outerpx"></div>
              <div class="bottom-left-corner corner pixel outerpx"></div>
              <div class="bottom-right-corner-hd corner">
                <div class="pixel innerpx"></div>
                <div class="pixel innerpx"></div>
                <div class="pixel innerpx"></div>
                <div class="pixel innerpx"></div>
                <div class="pixel borderpx"></div>

                <div class="pixel innerpx"></div>
                <div class="pixel innerpx"></div>
                <div class="pixel innerpx"></div>
                <div class="pixel borderpx"></div>
                <div class="pixel outerpx"></div>

                <div class="pixel innerpx"></div>
                <div class="pixel innerpx"></div>
                <div class="pixel borderpx"></div>
                <div class="pixel outerpx"></div>
                <div class="pixel outerpx"></div>

                <div class="pixel innerpx"></div>
                <div class="pixel borderpx"></div>
                <div class="pixel outerpx"></div>
                <div class="pixel outerpx"></div>
                <div class="pixel outerpx"></div>

                <div class="pixel borderpx"></div>
                <div class="pixel outerpx"></div>
                <div class="pixel outerpx"></div>
                <div class="pixel outerpx"></div>
                <div class="pixel outerpx"></div>
              </div>
            </div>

            <div class="pokemons-infos__container">
              <div class="btns">

                <% if (pokemonData.id === 1) { %>
                  <a href="/pokemons/<%= pokemonData.id-1 %>" style="visibility: hidden"><span>◄ </span>
                    <p> Previous</p>
                  </a>
                <% }%>

                <% if (pokemonData.id !== 1) { %>
                  <a href="/pokemons/<%= pokemonData.id-1 %>"><span>◄ </span>
                    <p> Previous</p>
                  </a>
                <% }%>


                <% if (pokemonData.id === 809) { %>
                  <a href="/pokemons/<%= pokemonData.id+1 %>"  style="visibility: hidden">
                    <p>Next</p><span>►</span>
                  </a>
                <% }%>

                <% if (pokemonData.id !== 809) { %>
                  <a href="/pokemons/<%= pokemonData.id+1 %>">
                    <p>Next</p><span>►</span>
                  </a>
                <% }%>

              </div>
            </div>
            <div class="pokemons-infos__container border corners">
              <h2>/More infos :</h2>
              <h3>Names in other languages :</h3>
              <div class="pokemons-infos__base">
                <div class="left">
                  <h4>japanese</h4>
                  <h4>chinese</h4>
                  <h4>french</h4>
                </div>
                <div class="right">
                  <p>
                    <%= pokemonData.name.japanese %>
                  </p>
                  <p>
                    <%= pokemonData.name.chinese %>
                  </p>
                  <p>
                    <%= pokemonData.name.french %>
                  </p>
                </div>
              </div>

              <div class="top-left-corner corner pixel outerpx"></div>
              <div class="top-right-corner corner pixel outerpx"></div>
              <div class="bottom-left-corner corner pixel outerpx"></div>
              <div class="bottom-right-corner-hd corner">
                <div class="pixel innerpx"></div>
                <div class="pixel innerpx"></div>
                <div class="pixel innerpx"></div>
                <div class="pixel innerpx"></div>
                <div class="pixel borderpx"></div>

                <div class="pixel innerpx"></div>
                <div class="pixel innerpx"></div>
                <div class="pixel innerpx"></div>
                <div class="pixel borderpx"></div>
                <div class="pixel outerpx"></div>

                <div class="pixel innerpx"></div>
                <div class="pixel innerpx"></div>
                <div class="pixel borderpx"></div>
                <div class="pixel outerpx"></div>
                <div class="pixel outerpx"></div>

                <div class="pixel innerpx"></div>
                <div class="pixel borderpx"></div>
                <div class="pixel outerpx"></div>
                <div class="pixel outerpx"></div>
                <div class="pixel outerpx"></div>

                <div class="pixel borderpx"></div>
                <div class="pixel outerpx"></div>
                <div class="pixel outerpx"></div>
                <div class="pixel outerpx"></div>
                <div class="pixel outerpx"></div>
              </div>
            </div>

          </div>
        </div>
        <div class="bottom">

        </div>
      </div>
    </div>

    <script src="/js/pokemon.js"></script>



    <%- include("partials/footer.ejs") %>